<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />
    <title>Change Password</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <section class="change-password forgot-password">
      <div class="container">
        <div class="change-password-content">
          <div class="change-password-form">
            <h1 class="form-title">Invalid Link</h1>
            <p>
              Looks like your password reset link has either expired, or is
              invalid!
            </p>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
