<!-- video 96 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />

    <style>
      .tooltip {
        position: relative;
        display: inline-block;
      }

      .tooltip .tooltiptext {
        white-space: nowrap;
        visibility: hidden;
        width: 160px;
        background-color: #0000d4;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 4px;
        position: absolute;
        z-index: 1;
        top: 140%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
      }

      /* Tooltip arrow */
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #0000d4 transparent;
      }

      .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
      }
    </style>

  </head>
  <body>
    <!-- Navbar -->
    <header>
      <div class="container">
        <div class="logo">
          <a href="/"><h1>Urls Shortener</h1></a>
        </div>

        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>

          <% if (!user) { %>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          <% } else { %>
          <a href="/profile">Profile</a>
          <a id="user_profile">Hi, <span style="color: #0000d4">
            <%= user.name.split(" ")[0].charAt(0).toUpperCase() + user.name.split(" ")[0].slice(1) %></span>.!
          </a>

          <!-- <a href="/logout"><img src="images/power-off.png" title="Click here to logout" alt="Logout" /></a> -->
          <a href="/logout" class="tooltip">
            <img src="images/power-off.png" alt="Logout" />
            <span class="tooltiptext">Click here to logout</span>
          </a>
          
          <% } %>
        </nav>
      </div>
    </header>
  </body>
</html>